<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Department -->
      <package
            uri="platform:/plugin/assignment1/model/assignment.ecore"
            class="assignment.AssignmentPackage"
            genModel="model/Department.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated Department -->
      <parser
            type="assignment"
            class="assignment.util.AssignmentResourceFactoryImpl"/>
   </extension>

</plugin>
